<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC22kjmEveImjMFfEPEB6hjaCOm_5DS9UY</string>
	<key>GCM_SENDER_ID</key>
	<string>387587538631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..first.FavouriteCountries</string>
	<key>PROJECT_ID</key>
	<string>favouritecountries</string>
	<key>STORAGE_BUCKET</key>
	<string>favouritecountries.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387587538631:ios:de9096cc0c3321c15488e2</string>
</dict>
</plist>